{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('alprs.update_alpr', alpr_id=alpr.ID) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
      </div>
      <h4 class="article-title">License#: <a href="{{ url_for('plates.plate_images', plate_id=alpr.license_id) }}">{{ alpr.licenseplates.license }}</a></h4>
      <p class="article-content"><b>DateTime:</b> {{ alpr.datetime }}</p>
      <p class="article-content"><b>Image ID:</b> <a class="article-title" href="{{ url_for('images.image', image_id=alpr.image_id) }}">{{ alpr.image_id }}</a></p>
      <p class="article-content"><b>Processing Time:</b> {{ alpr.processing_time }}</p>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('alprs.delete_alpr', alpr_id=alpr.ID) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}