{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('images.update_image', image_id=image.image) }}">Update</a>
            <!--<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>-->
          </div>
      </div>
      <h4 class="article-title">Image: {{ image.image }}</h4>
      <p class="article-content"><b>DateTime:</b> {{ image.datetime }}</p>
      <p class="article-content"><b>Camera:</b> {{ image.camera_id }}</p>
      <p class="article-content"><b>ViewName:</b> {{ image.ViewName }}</p>
      <p class="article-content"><b>Size:</b> {{ image.size }}</p>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('images.delete_image', image_id=image.image) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
