{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h4 class="mb-3">{{ title }}</h4>
    <div class="container gallery-container">
        <div class="tz-gallery">
            <div class="row">
                {% for image in images.items %}
                <div class="col-sm-6 col-md-4">
                    <table>
                        <tbody>
                        <tr><td>
                            <a class="lightbox"  href="{{ url_for('static', filename='imagehub_data/images/' + image.datetime.strftime('%Y-%m-%d') + '/' + image.image) }}">
                                <img  style="margin-bottom: 0px;" src="{{ url_for('static', filename='imagehub_data/images/' + image.datetime.strftime('%Y-%m-%d') + '/' + image.image) }}">
                            </a>
                        </td></tr>
                        <tr><td style="text-align:center; font-size:65%"><a class="islink" href="{{ url_for('images.image', image_id=image.image) }}">{{ image.datetime.strftime('%Y-%m-%d %X') }}</a></td></tr>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% for page_num in images.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if images.page == page_num %}
    <a class="btn btn-info mb-4" href="{{ url_for('images.images_list', page=page_num) }}">{{ page_num }}</a>
    {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('images.images_list', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}
