{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h4 class="mb-3">License Plates</h4>
  <div class="container gallery-container">
    <div class="tz-gallery">
      <div class="row">
        {% for plate in plates.items %}
        <div class="col-sm-6 col-md-4">
          <div class="btn btn-outline-info btn-lg mb-2 mr-2 col-sm">
            {% if request.args.get('link_id') == "images" %}
            <a class="article-title" href="{{ url_for('plates.plate_images', plate_id=plate.ID) }}">{{ plate.license }}</a>
            {% elif request.args.get('link_id') == "update" %}
            <a class="article-title" href="{{ url_for('plates.update_plate', plate_id=plate.ID) }}">{{ plate.license }}</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% for page_num in plates.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
  {% if page_num %}
  {% if plates.page == page_num %}
  <a class="btn btn-info mb-4" href="{{ url_for('plates.plates_list', page=page_num, link_id=request.args.get('link_id')) }}">{{ page_num }}</a>
  {% else %}
  <a class="btn btn-outline-info mb-4" href="{{ url_for('plates.plates_list', page=page_num, link_id=request.args.get('link_id')) }}">{{ page_num }}</a>
  {% endif %}
  {% else %}
  ...
  {% endif %}
  {% endfor %}
</div>
{% endblock content %}
