bcrypt==3.2.0
blinker==1.4
certifi==2020.12.5
cffi==1.14.5
click==7.1.2
email-validator==1.1.2
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
itsdangerous==1.1.0
Jinja2==2.11.3
mariadb==1.0.6
MarkupSafe==1.1.1
Pillow==8.2.0
pycparser==2.20
PyMySQL==1.0.2
six==1.16.0
SQLAlchemy==1.4.13
Werkzeug==1.0.1
WTForms==2.3.3
